.container-about {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-picture-about {
    display: none;
    height: 100px;
    width: 100px;
    max-height: 100px;
    max-width: 100px;
    min-height: 100px;
    min-width: 100px;

    border-radius: 360px;
}

.about-text {
    font-size: 11px;
    line-height: 2em;
    text-transform: uppercase;
    color: #333;
}

.about-text-main {
    font-size: 32px;
    line-height: 1.5em;
}

.about-name {
    color:  #FF5722;;
}

.about-text-subtitle {
    font-size: 20px;
}

.about-text-belief {
    color:  #FF5722;
}

.about-resume {
    font-weight: 700;
    font-size: 12px;
}

/* desktop-medium */
@media all and (min-width: 841px) {    
    .profile-picture-about {
        display: block;
        
        height: 300px;
        width: 300px;
        max-height: 300px;
        max-width: 300px;
        min-height: 300px;
        min-width: 300px;
    
        margin-right: 60px;
    
        border-radius: 360px;

    }
}
