.label {
    padding: 8px;
    margin: 4px;

    text-transform: uppercase;
    text-align: center;
    
    background-color: transparent;
    border-radius: 6px;
}

.label-minimal {    
    padding: 5px;
    margin: 2px;

    text-align: center;
    
    background-color: transparent;

    color: rgba(255, 255, 255, 0.90);

    border-radius: 6px;
    border: 1px solid rgb(88, 88, 88);;
}

.special-label {
    border:  1px solid  rgb(182, 84, 54);
}

.special-label:hover {
    background-color: rgb(243, 164, 140);
    color: white;
    outline: 0;
}

.special-label-selected, .special-label-selected:hover {
    background-color: rgb(238, 118, 81);
    color: white;
    outline: 0;
}

.common-label {
    border: 1px solid rgb(88, 88, 88);
}

.common-label:hover {
    background-color: rgba(128, 128, 128, 0.678);
    color: white;
    outline: 0;
}

.common-label-selected, .common-label-selected:hover {
    background-color: rgba(88, 88, 88, 0.842);
    color: white;
    outline: 0;
}

